# Create Top List of Contributors to all Traitors

This notebook creates the file 147_contributors_top_list.csv

In [ ]:
import pandas as pd

In [46]:
# load contributors data
contributor_df = pd.read_csv("147_contributors.csv", index_col=False)

# group by donation amount
contributor_df_sum = contributor_df.groupby(['name'])['total'].agg('sum').reset_index(name="total_contributions")

# sort by total donation highest to lowest
contributor_df_sum = contributor_df_sum.sort_values(by = ['total_contributions'], ascending=[False])
contributor_df_sum.reset_index(drop=True, inplace=True)

In [47]:
contributor_df_sum

                           name  total_contributions
0         American Bankers Assn              1214903
1     National Assn of Realtors              1073620
2             Majority Cmte PAC              1060000
3            House Freedom Fund              1052229
4                      AT&T Inc               978173
...                         ...                  ...
5235             Jackson Clinic                  250
5236                 Distinc Tt                  250
5237                    Nutrien                   50
5238              Visnaga Ranch                   50
5239      Juris Consultants LLC                   10

[5240 rows x 2 columns]

In [49]:
# save contributors dataframe to csv file
contributor_df_sum.to_csv(r'147_contributors_top_list.csv', index=False, header=True)